{%- style -%}
  .fh-section--collection-list .collection-item {
    display: flex;
    flex-direction: row;
    min-height: 50vw;
    max-height: 600px
  }

  .fh-section--collection-list .collection-item .content {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    position: relative;
    color: #ffffff;
    width: 50%;
    text-align: center;
  }

  .fh-section--collection-list .collection-item .content p {
    max-width: 100%;
    width: 500px;
  }

  .fh-section--collection-list .collection-item .content .background {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .fh-section--collection-list .collection-item .content .background:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,.65) 0%, rgba(255,255,255,0) 100%);
  }

  .fh-section--collection-list .collection-item .content .background img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    .fh-section--collection-list .collection-item {
      min-height: 0;
      max-height: unset;
      flex-direction: column;
    }

    .fh-section--collection-list .collection-item .content {
      padding: 150px 20px 40px;
      width: 100%;
      min-height: 100vw;
    }
  }
{%- endstyle -%}

<div class="fh-section--collection-list">
  {%- for block in section.blocks -%}
    {%- assign collection = collections[block.settings.collection] -%}
    {%- if collection.image -%}
      {%- assign collection_image = collection.image -%}
    {%- else -%}
      {%- assign collection_image = collection.products.first.featured_media.preview_image -%}
    {%- endif -%}

    <div class="collection-item">
      {% comment %} Content Left {% endcomment %}
      <div
        class="content content-left"
        {%- if collection.metafields.custom.background_color.value -%}
        style="background-color: {{ collection.metafields.custom.background_color.value }};"
        {%- endif -%}
        data-aos>
        <h2 class="h1 appear-delay">{{ collection.title }}</h2>
        <p class="appear-delay-1">{{ collection.description }}</p>
        <a href="{{ collection.url }}" class="btn btn--inverse appear-delay-2">Shop Now</a>
      </div>

      {% comment %} Content Right {% endcomment %}
      <div class="content content-right" data-aos>
        <div class="background">
          {%-
              render 'image-element',
            img: collection_image,
            classes: 'image-background',
            sizes: sizes,
            sizeVariable: sizeVariable,
            fallback: fallback -%}
        </div>
      </div>
    </div>
  {%- endfor -%}
</div>

{% schema %}
  {
    "name": "Custom collection list",
    "settings": [],
    "presets": [],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["custom.popups"]
    }
  }
{% endschema %}