{%- style -%}

{%- endstyle -%}
  
<div class="fh-section--product-testimonial index-section index-section--alt text-center">
    <div class="page-width page-width--narrow">
        <div class="enlarge-text">
            <p>{{ section.settings.testimonial_text }}</p>
        </div>
    </div>
</div>

{% schema %}
{
    "name": "Product Testimonial",
    "settings": [
    {
        "type": "text",
        "id": "testimonial_text",
        "label": "Testimonial text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"
    }
    ],
    "presets": [],
    "disabled_on": {
    "groups": ["custom.popups"]
    }
}
{% endschema %}