{%- style -%}
  .fh-section--cta {
    display: flex;
    min-height: 50vw;
    max-height: 600px;
    position: relative;
    align-items: center;
    padding: 20px;
    justify-content: flex-end;
    color: #ffffff;
  }

  .fh-section--cta .background {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .fh-section--cta .background:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(-90deg, rgba(0,0,0,.8) 0%, rgba(255,255,255,0) 100%);
  }

  .fh-section--cta .background img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }

  .fh-section--cta .content {
    width: 50%;
    height: fit-content;
  }

  .fh-section--cta .content .wrapper {
    max-width: 100%;
    width: 420px;
    margin-left: auto;
    margin-right: auto;
  }

  @media only screen and (max-width: 768px) {
    .fh-section--cta {
      align-items: center;
      justify-content: center;
      padding: 100px 20px;
      text-align: center;
    }

    .fh-section--cta .content {
      width: 100%;
    }

    .fh-section--cta .background:after {
      background: rgba(0, 0, 0, 0.6);
    }
  }
{%- endstyle -%}

<div class="fh-section--cta">
  <div class="background">
    {%- render 'image-element'
      , img: section.settings.image,
      classes: 'image-background',
      sizes: sizes,
      sizeVariable: sizeVariable,
      fallback: fallback, -%}
  </div>

  <div class="content" data-aos>
    <div class="wrapper">
      <h2 class="h1 appear-delay">{{ section.settings.heading }}</h2>
      <p class="appear-delay-1">{{ section.settings.description }}</p>
      <a href="{{ section.settings.btn_url }}" class="btn btn--inverse appear-delay-2">
        {{ section.settings.btn_text }}
      </a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "CTA",
    "settings": [
      {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "All Natural Botanicals"
      },
      {
        "type": "text",
        "id": "description",
        "label": "Description",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"
      },
      {
        "type": "text",
        "id": "btn_text",
        "label": "Button text",
        "default": "LEARN MORE"
      }, {
        "type": "url",
        "id": "btn_url",
        "label": "Button URL"
      }
    ],
    "presets": [],
    "disabled_on": {
      "groups": ["custom.popups"]
    }
  }
{% endschema %}