{%- style -%}

{%- endstyle -%}

<div class="fh-section--collection-list">
  Test
</div>

{% schema %}
  {
    "name": "Custom Collection List",
    "settings": [
    ],
    "presets": [],
    "disabled_on": {
      "groups": ["custom.popups"]
    }
  }
{% endschema %}