{%- style -%}

{%- endstyle -%}

<div class="fh-section--collection-list">
  {%- for block in section.blocks -%}
    {%- assign collection = collections[block.settings.collection] -%}
    {%- if collection.image -%}
      {%- assign collection_image = collection.image -%}
    {%- else -%}
      {%- assign collection_image = collection.products.first.featured_media.preview_image -%}
    {%- endif -%}
    <h2>{{ collection.title }}</h2>
  {%- endfor -%}
</div>

{% schema %}
  {
    "name": "Custom collection list",
    "settings": [
    ],
    "presets": [],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "label": "Collection",
            "id": "collection",
            "type": "collection"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["custom.popups"]
    }
  }
{% endschema %}