{%- style -%}
  .fh-section--product-testimonial .page-width {
    position: relative;
  }

  .fh-section--product-testimonial p {
    margin: 0;
  }

  .fh-section--product-testimonial .enlarge-text:after {
    content: '';
    background-image: url('data:image/svg+xml, <svg data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.66 11.19"><path d="M0 11.19C1.05 7.34 3.03 2.38 4.31.28L6.88 0c-1.01 2.71-2.2 7.43-2.71 10.73L0 11.19Zm6.83 0C7.84 7.34 9.86 2.38 11.1.28L13.67 0c-1.01 2.71-2.2 7.43-2.71 10.73l-4.13.46Z" fill="%23fff" data-name="Layer 1"/></svg>');
    width: 30px;
    height: 30px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    left: 10px;
    top: -30px;
  }

  .fh-section--product-testimonial .enlarge-text:before {
    content: '';
    background-image: url('data:image/svg+xml, <svg data-name="Layer 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.66 11.19"><path d="M0 11.19C1.05 7.34 3.03 2.38 4.31.28L6.88 0c-1.01 2.71-2.2 7.43-2.71 10.73L0 11.19Zm6.83 0C7.84 7.34 9.86 2.38 11.1.28L13.67 0c-1.01 2.71-2.2 7.43-2.71 10.73l-4.13.46Z" fill="%23fff" data-name="Layer 1"/></svg>');
    width: 30px;
    height: 30px;
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    right: 10px;
    bottom: -30px;
    transform: rotate(180deg);
  }

  .spacing {
    height: 50px;
    width: 100%;
    display: block;
  }
{%- endstyle -%}

{%- liquid
  assign background_color = '#000000'
  assign template_name = template | replace: '.', ' ' | truncatewords: 2, '' | handle
-%}

{% if template_name == 'product' %}
  {% for collection in product.collections %}
    {% if collection.metafields.custom.background_color %}
      {% assign background_color = collection.metafields.custom.background_color.value %}
    {% endif %}

    {% if collection.metafields.custom.quote %}
      {% assign quote = collection.metafields.custom.quote %}
    {% endif %}
  {% endfor %}
{% endif %}

{% if template_name == 'collection' %}
  {% if collection.metafields.custom.background_color %}
    {% assign background_color = collection.metafields.custom.background_color.value %}
  {% endif %}
  {% if collection.metafields.custom.quote %}
    {% assign quote = collection.metafields.custom.quote %}
  {% endif %}
{% endif %}

{% if quote %}
  <div
    class="fh-section--product-testimonial index-section index-section--alt text-center"
    {% if template_name == 'product' or template_name == 'collection' %}
    style="background-color: {{ background_color  }};"
    {% endif %}>
    <div class="page-width page-width--narrow">
      <div class="enlarge-text">
        {% if quote %}
          <p>{{ quote }}</p>
        {% else %}
          <p>{{ section.settings.testimonial_text }}</p>
        {% endif %}
      </div>
    </div>
  </div>
{% else %}
  <div class="spacing"></div>
{% endif %}

{% schema %}
  {
    "name": "Product Testimonial",
    "settings": [
      {
        "type": "text",
        "id": "testimonial_text",
        "label": "Testimonial text",
        "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam"
      }
    ],
    "presets": [
      {
        "name": "Product Testimonial"
      }
    ],
    "disabled_on": {
      "groups": ["custom.popups"]
    }
  }
{% endschema %}