{%- style -%}

{%- endstyle -%}

<div class="fh-section--collection-list">
  {%- for block in section.blocks -%}
    {%- assign collection = collections[block.settings.collection] -%}
    {%- if collection.image -%}
      {%- assign collection_image = collection.image -%}
    {%- else -%}
      {%- assign collection_image = collection.products.first.featured_media.preview_image -%}
    {%- endif -%}
    <h2>{{ block.settings.title }}</h2>
    <p>{{ block.settings.description }}</p>
  {%- endfor -%}
</div>

{% schema %}
  {
    "name": "Custom Collection List",
    "settings": [
    ],
    "presets": [],
    "blocks": [
      {
        "type": "collection",
        "name": "Collection",
        "settings": [
          {
            "type": "collection",
            "id": "collection",
            "label": "Collection"
          }
        ]
      },
      {
        "type": "text",
        "name": "Title"
      },
      {
        "type": "paragraph",
        "name": "Description"
      }
    ],
    "disabled_on": {
      "groups": ["custom.popups"]
    }
  }
{% endschema %}