{%- style -%}
  .fh-section--custom-list-grid-richtext .list-item {
    display: flex;
    flex-direction: row;
    min-height: 50vw;
    max-height: 600px
  }

  .fh-section--custom-list-grid-richtext .list-item .content {
    padding: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    position: relative;
    color: #ffffff;
    width: 50%;
    text-align: center;
  }

  .fh-section--custom-list-grid-richtext .list-item .content p {
    max-width: 100%;
    width: 500px;
  }

  .fh-section--custom-list-grid-richtext .list-item .content .background {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .fh-section--custom-list-grid-richtext .list-item .content .background:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(0deg, rgba(0,0,0,.65) 0%, rgba(255,255,255,0) 100%);
  }

  .fh-section--custom-list-grid-richtext .list-item .content .background img {
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    width: 100%;
  }

  @media only screen and (max-width: 768px) {
    .fh-section--custom-list-grid-richtext .list-item {
      min-height: 0;
      max-height: unset;
      flex-direction: column !important;
    }

    .fh-section--custom-list-grid-richtext .list-item .content {
      padding: 40px 20px;
      width: 100%;
      min-height: 100vw;
    }
  }
{%- endstyle -%}

<div
  data-section-id="{{ section.id }}"
  data-section-type="fh-section-custom-list-grid-richtext"
  class="fh-section--custom-list-grid-richtext">
  {%- for block in section.blocks -%}
    <div
      class="list-item"
      {%- if block.settings.reverse -%}
      style="flex-direction: row-reverse; "
      {%- endif -%}>
      {% comment %} Content Left {% endcomment %}
      <div
        class="content content-left"
        style="background-color: {{ block.settings.background_color }}; color: {{ block.settings.text_color }};"
        data-aos>
        {{ block.settings.text }}
      </div>

      {% comment %} Content Right {% endcomment %}
      <div class="content content-right" data-aos>
        <div class="background">
          {%-
              render 'image-element',
            img: block.settings.image,
            classes: 'image-background',
            sizes: sizes,
            sizeVariable: sizeVariable,
            fallback: fallback -%}
        </div>
      </div>
    </div>
  {%- endfor -%}
</div>

{% schema %}
  {
    "name": "Custom list grid richtext",
    "settings": [],
    "presets": [
      {
        "name": "Custom list grid richtext"
      }
    ],
    "blocks": [
      {
        "type": "text_block",
        "name": "List",
        "settings": [
          {
            "type": "checkbox",
            "id": "reverse",
            "label": "Reverse",
            "default": false
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Content",
            "default": "<p>Pair large text with a full-width image to draw attention to an important detail of your brand or product line.</p>"
          },
          {
            "type": "color",
            "id": "background_color",
            "label": "Background",
            "default": "#000000"
          }, {
            "type": "color",
            "id": "text_color",
            "label": "Text color",
            "default": "#ffffff"
          }
        ]
      }
    ],
    "disabled_on": {
      "groups": ["custom.popups"]
    }
  }
{% endschema %}