{%- style -%}
{%- endstyle -%}
<div class="fh-section--product-category-grid">
  {% comment  %} Content Left {% endcomment %}
  <div class="content-left">
    <div class="divider"></div>
    <h2 class="h1 appear-delay">Haircare</h2>
    <p class="appear-delay-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    <a href="{{ section.settings.link_learn_more }}" class="btn appear-delay-2">
      {{ section.settings.link_text_learn_more }}
    </a>
  </div>

  {% comment  %} Content Right {% endcomment %}
  <div class="content-left">
    <div class="divider"></div>
    <h2 class="h1 appear-delay">Haircare</h2>
    <p class="appear-delay-1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
    <a href="{{ section.settings.link_learn_more }}" class="btn appear-delay-2">
      {{ section.settings.link_text_learn_more }}
    </a>
  </div>
</div>

{% schema %}
  {
    "name": "Product Category Grid",
    "settings": [],
    "presets": [],
    "disabled_on": {
      "groups": ["custom.popups"]
    }
  }
{% endschema %}