<div class="index-section">
  <div class="page-width">
    Test updated text
  </div>
</div>

{% schema %}
  {
    "name": "Section Test",
    "settings": [],
    "presets": [],
    "disabled_on": {
      "groups": ["custom.popups"]
    }
  }
{% endschema %}